.header {
	width: 1360px;
	height: 64px;
	top: 119px;
	left: 40px;
	border-radius: 62px;
	border-width: 1px;
	justify-content: space-between;
	/* padding-top: 10px; */
	padding-right: 40px;
	/* padding-bottom: 10px; */
	padding-left: 40px;
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 1;
	
	/* margin-top: 60px; */
	margin-left: auto;
	margin-right: auto;
	/* margin-bottom: 60px; */
	
    display: flex;
	align-items: center;
	color: rgba(158, 160, 170, 1);
	border: 1px rgba(228, 228, 231, 1) solid;
}
.dronesLogo{
	height: 21px;
	width: 108px;
	
}
.logoDiv{
	flex: 0;
	height: 21px;
	width: 108px;
}
.headerContainer{
	height: 184px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.whiteHeaderContainer{
	background-color: white;

}
.container {
	width: 1360px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu {
 	display: flex;
	width: 65.00000140292829;
	height: 17.000000366919707;
	opacity: 1;
	gap: 32px;
	flex: 1;
}

.actions {
  	display: flex;
	flex: 1;
	width: 261;
	height: 44;
	gap: 24px;

	opacity: 1;
	justify-content: flex-end;

}
.Icons{
  width: 24;
height: 24;

opacity: 1;

}
.menuItem {
width: 65.00000140292829;
height: 17.000000366919707;
rotate: 0.06;
opacity: 1;

}
.link {
  text-decoration: none;
  color: inherit;
}