.header {
	width: 95%;
	/* margin-left: 0.5%;
	margin-right: 0.5%; */
	height: 64px;
	/* top: 119px; */
	/* left: 40px; */
	position: fixed;

	border-radius: 62px;
	justify-content: space-between;
	padding-right: 0.5%;
	padding-left: 0.5%;
	/* left: 50%; */
	z-index: 569637487653473549854;
	background-color: rgba(255, 255, 255, 0.5);
	/* filter: blur(64px); */
	backdrop-filter: blur(64px);
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	border: 1px rgba(228, 228, 231, 1) solid;
}
.dronesLogo {
	height: 21px;
	width: 108px;
}
.logoDiv {
	flex: 0;
	height: 21px;
	width: 108px;
}
.curveContainer{
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: #cdd5dd;
}
.title {
	margin-top: 110px;
	text-align: center;
	/* font-size: 48px; */
	z-index: 4;
	position: relative;
	top: 151px;
	color: white;
	font-weight: 900;
	font-family: "GTWalsheimProBold";

	font-size: 61px;
	/* line-height: 100%; */
	/* letter-spacing: 0.3rem; */
	/* text-align: center; */
	text-transform: uppercase;
	/* font-style: extra-bold; */
}
.headerContainer {
	height: 184px;
	width: 100%;
	display: flex;
	
	/* overflow-x: hidden; */
	/* position: relative;
	left: 0;
	top: 0; */
	/* justify-content: center; */
	align-items: center;
}
.whiteHeaderContainer {
	background-color: white;
	color: rgba(158, 160, 170, 1);
	/* overflow-x: hidden; */
}
.container {
	width: 100%;
	margin: 0 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu {
	display: flex;
	width: 65.00000140292829;
	height: 17.000000366919707;
	opacity: 1;
	gap: 32px;
	flex: 1;
}

.actions {
	display: flex;
	flex: 1;
	width: 261;
	height: 44;
	gap: 24px;

	opacity: 1;
	justify-content: flex-end;
}
.Icons {
	width: 24;
	height: 24;

	opacity: 1;
}
.menuItem {
	width: 65.00000140292829;
	height: 17.000000366919707;
	rotate: 0.06;
	opacity: 1;
}
.link {
	text-decoration: none;
	color: inherit;
}

.curve {
	position: absolute;
	bottom: -360px;
	left: 50%;
	transform: translateX(-50%);
	width: 130%;
	height: 835.2557983398438px;
	background: #fff;
	border-radius: 50%;
	z-index: 1;
}