.footer {
	background-color: #cdd5dd;
	padding: 0px 0 40px;
	text-align: center;
	position: relative;	
	flex-direction: column;
	display: flex;
	align-items: center;
	gap: 80px;
	/* overflow-x: hidden; */
	/* overflow-y: visible; */
	overflow-x: hidden;
	/* height: 100vh; */
	/* transform: translateY(50%); */
	/* margin-bottom: -720px; */
	font-family: "GTWalsheimPro";

}

.logo {
	width: 909.4560546875px;
	height: 161.8388671875px;
}


.menu {
	z-index: 1;
	list-style: none;
	padding: 0 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 27px;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.4px;
}
.oval {
	width: 123vw;
	height: 850.2557983398469px;
	/* position: relative; */
	transform: translateY(-50%);
	border-radius: 50%;
	background-color: white;
	z-index: 50;
	display: flex;
	justify-content: center;
    align-items: flex-end;
	/* margin-bottom: 13px; */
	/* margin-bottom: 500px; */
	position: absolute;

}
.phoneOval{
	height: 950px;
	width: 2016.56100869px;
}
.drones{
	margin-top: 450px;
	/* width: 63vw; */
}
.phoneDrones{
	width: 343.0000915527344px;
}
.copy {
	font-size: 12px;
	padding-top: 10px;
	margin-top: 20px;
	border-top: rgba(244, 244, 244, 1) solid 2px;
	width: 95%;
	opacity: 0.6;
}
.link {
	color: black;
	text-decoration: none;
	
	font-family: "GTWalsheimPro";
}
.stats {
	display: flex;
	justify-content: space-evenly;
	gap: 180px;
	text-align: center;
	z-index: 50;
	margin-bottom: 100px;
}
.phoneStats{
	flex-direction: column;
	gap: 16px;
}
.stat {
	display: flex;
	flex-direction: column;
	gap: 48px;
	
	font-family: "GTWalsheimPro";
	z-index: 50;
}
.stats strong {
	font-size: 44px;
	display: block;
	z-index: 50;
	color: black;
	
	font-family: "GTWalsheimProBold";
}

.stats span {
	color: rgba(12, 18, 42, 1);
	z-index: 50;
	font-size: 16px;
	font-family: "GTWalsheimPro";

}