.footer {
  background-color: #CDD5DD;
  padding: 0px 0 40px;
  text-align: center;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 80px;
}

/* .stats {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-bottom: 80px;
}

.stats h3 {
  font-size: 32px;
  margin-bottom: 8px;
}
.stats p {
  font-size: 14px;
} */
.logo{
  	width: 909.4560546875px;
	height: 161.8388671875px;
}

/* .bgText {
  margin-top: 0; */
  /* position: absolute; */
  /* top: 160px;
  left: 50%;
  transform: translateX(-50%); */
  /* font-size: 180px;
  font-weight: 700;
  opacity: 0.08;
  pointer-events: none;
} */

.menu {
  display: flex;
  justify-content: center;
  gap: 32px;
  list-style: none;
  margin-bottom: 40px;
  padding: 0;
}

.copy {
  font-size: 12px;
  padding-top: 10px;
  margin-top: 20px;
  border-top: rgba(244, 244, 244, 1) solid 2px;
  width: 95%;
  opacity: 0.6;
}
