.footer {
	background-color: #cdd5dd;
	padding: 0px 0 40px;
	text-align: center;
	position: relative;	
	flex-direction: column;
	display: flex;
	align-items: center;
	gap: 80px;
	/* overflow-x: hidden; */
	overflow-y: visible;
	overflow-x: hidden;
	/* height: 100vh; */
	/* transform: translateY(50%); */
	/* margin-bottom: -720px; */
	font-family: "GTWalsheimPro";

}

.logo {
	width: 909.4560546875px;
	height: 161.8388671875px;
}


.menu {
	display: flex;
	justify-content: center;
	gap: 32px;
	list-style: none;
	margin-bottom: 40px;
	padding: 0;
}
.oval {
	width: 123vw;
	height: 350px;
	/* position: relative; */
	transform: translateY(-25%);
	border-radius: 50%;
	background-color: white;
	margin-bottom: -160px;
	z-index: 50;
	display: flex;
	justify-content: center;
    align-items: center;
	
}
.copy {
	font-size: 12px;
	padding-top: 10px;
	margin-top: 20px;
	border-top: rgba(244, 244, 244, 1) solid 2px;
	width: 95%;
	opacity: 0.6;
}
.link {
	color: black;
	text-decoration: none;
	
	font-family: "GTWalsheimPro";
}
.stats {
	display: flex;
	justify-content: space-evenly;
	gap: 87px;
	text-align: center;
	z-index: 50;
}
.stat {
	display: flex;
	flex-direction: column;
	gap: 48px;
	
	font-family: "GTWalsheimPro";
	z-index: 50;
}
.stats strong {
	font-size: 32px;
	display: block;
	z-index: 50;
	color: black;
	
	font-family: "GTWalsheimProBold";
}

.stats span {
	color: rgba(12, 18, 42, 1);
	z-index: 50;
	
	font-family: "GTWalsheimPro";

}