.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 16px;
}

.label {
  font-size: 14px;
  font-weight: 500;
}

.input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  outline: none;
  transition: 0.2s;
}

.input:focus {
  border-color: #0b0f24;
}

.errorInput {
  border-color: red;
}

.error {
  font-size: 12px;
  color: red;
}
