.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.wrapper label {
  font-size: 14px;
}

.input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  outline: none;
}

.input:focus {
  border-color: #000;
}
