.drone {
	position: absolute;
	top: 140.16px;
	left: 50%;
	transform: translateX(-50%) rotate(11deg);
	z-index: 9999;
	width: 811.6474603654409px;
	margin-bottom: 200px;
	height: 811.6474603654409px;
}
/* .sideInfo {
	position: absolute;
	top: 650px;
	right: 45vw;
	width: 300px;
	
	z-index: 4;
} */
.hero {
	position: relative;
	height: 103vh;
	overflow: hidden;
	top: -123px;
}

.sideInfo{
    position: fixed;
	/* top: 57%; */
    bottom: 10.6%;
	right: 3%;
	display: flex;
    flex-direction: column;
	
	z-index: 51;
    background-color: white;
    width: 232px;
    height: 120px;
    opacity: 1;
    gap: 24px;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-left: 14px;

}
.innerSideInfo{
    display: flex;
    gap: 16px;
}
.previewSideInfo{
    display: flex;
    gap: 8px;
}
.titleSideInfo{
    font-family: "GTWalsheimProBoldStyle";
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
}
.priceSideInfo{
    font-family: "GTWalsheimPro";
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    /* text-decoration: line-through; */

}
.textSideInfo{
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.miniDrone{
    height: 50px;
    width: 50px;
}

.mainImage {
	width: 90%;
	border-radius: 16px;
	margin-bottom: 80px;
}
.block {
	display: flex;
	align-items: center;
	gap: 40px;
	margin-bottom: 80px;
}
/* .titleBlock{
    text-transform: uppercase;
} */
.verticalBlock{
	display: flex;
	align-items: center;
	gap: 40px;
	margin-bottom: 80px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
}
.textVerticalBlock{
    width: 60%;
}
.titleBlock{
    font-family: "GTWalsheimPro";
    font-weight: 400;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    text-transform: uppercase;

}
.description{
    color: rgba(61, 65, 85, 1)  ;
    font-family: "GTWalsheimPro";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
}
.topDescription{
    font-family: "GTWalsheimPro";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    color: rgba(61, 65, 85, 1);
    text-align: center;
    text-decoration: none;
    text-transform: none;
}
.block img {
	width: 50%;
	border-radius: 16px;
}
.imageBlock{
    width: 85%;
    margin-left: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-family: "GTWalsheimProBold";
    font-weight: 900;
    font-size: 44px;
    color: rgba(205, 213, 221, 1);
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    text-transform: uppercase;

}
.stats {
	display: flex;
	justify-content: space-evenly;
	gap: 180px;
	text-align: center;
	z-index: 50;
	/* margin-bottom: 100px; */
}
.phoneStats{
	flex-direction: column;
	gap: 16px;
}
.stat {
	display: flex;
	flex-direction: column;
	gap: 24px;
	
	font-family: "GTWalsheimPro";
	z-index: 50;
}
.stats strong {
	font-size: 44px;
	display: block;
	z-index: 50;
	color: rgba(109, 113, 127, 1);
	
	font-family: "GTWalsheimProBold";
}

.stats span {
	color: rgba(12, 18, 42, 1);
	z-index: 50;
	font-size: 16px;
	font-family: "GTWalsheimPro";

}
.stats strong span{
	color: rgba(109, 113, 127, 1);

}