.wrapper {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 569637487653473549856;
	backdrop-filter: blur(6px);
}
.background{
    background-color: rgba(12, 18, 42, 0.7);
	position: fixed;
	z-index: 569637487653473549855;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.card {
    width: 420px;
    background: white;
    border-radius: 14px;
    padding: 28px;
}



.actions {
	margin-top: 24px;
	display: flex;
	gap: 10px;
	justify-content: flex-start;
	/* justify-content: space-between; */
}
.actions button {
	font-family: "GTWalsheimPro";
	font-weight: 500;
	font-style: Medium;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 9%;
	text-transform: uppercase;

}

.cancel {
	border: 1px solid #111;
	background: transparent;
	padding: 10px 22px;
	border-radius: 20px;
	cursor: pointer;
}
.fieldError{
	color: red;
	font-size: 14px;
	margin-top: -10px;

}
.submit {
	background: #0b0f24;
	color: white;
	border: none;
	padding: 10px 22px;
	border-radius: 20px;
	cursor: pointer;

}
.inputs{
	flex-direction: column;
	gap: 16px;
	display: flex;
}
.footer {
	margin-top: 16px;
	font-size: 12px;
	opacity: 0.6;
}

.footer span {
	color: #ff6b00;
	cursor: pointer;
}
.smallText{
	color: rgba(158, 160, 170, 1);
	font-family: "GTWalsheimPro";
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-thickness: 0%;
	cursor: pointer;

}