.header {
  height: 64px;
  background-color: #f5f6f7;
  display: flex;
  align-items: center;
}

.container {
  width: 1360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.actions {
  display: flex;
  gap: 16px;
  font-size: 18px;
  cursor: pointer;
}