
.topOval {
	border-top-left-radius: 50% 250px;
	border-top-right-radius: 50% 250px;
	border-bottom-left-radius: 0% 0px;
	border-bottom-right-radius: 0% 0px;
}
.main {
	/* overflow-x: hidden; */
	/* z-index: 90; */
	background: white;
	display: flex;
	flex-direction: column;
	gap: 100px;
}

