.oval{
    /* border-radius: 50%; */
    width: 100%;
    /* transform: translateX(-20%); */
    height: 250px;
    position: relative;
    /* top: 530px; */
    border-bottom-left-radius: 50% 250px;
    border-bottom-right-radius: 50% 250px;
    background: #e6ebef;
    overflow-x: hidden;
    z-index: 1;
}
.topOval{
    border-top-left-radius: 50% 250px;
    border-top-right-radius: 50% 250px;
    border-bottom-left-radius: 0% 0px;
    border-bottom-right-radius: 0% 0px;
}
.main{
    /* overflow-x: hidden; */
    /* z-index: 90; */
    background: #e6ebef;
}