.section {
  padding: 80px 0;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 16px;
}

.description {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px;
  color: #555;
}

.mainImage {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 80px;
}

.block {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
}

.block img {
  width: 50%;
  border-radius: 16px;
}

/* .reverse {
  flex-direction: row-reverse;
} */

/* 
.statsSection {
  background: #d9dfe5;
  padding-top: 80px;
  border-radius: 120px 120px 0 0;
} */

.stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.stats strong {
  font-size: 32px;
  display: block;
}

.stats span {
  color: #555;
}
