.wrapper{
    display: flex;
    width: 90%;
    padding: 5%;
    padding-top: 1%;
    height: 100vh;
    gap: 20%;
}
.form{
    width: 668px;
}
.submitButton{
    border: #9EA0AA 1.5px solid;
    color: #9EA0AA;
    font-family: "GTWalsheimPro";
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: white;
    border-radius: 100px;
    cursor: pointer;
}