  @font-face {
    font-family: 'MyCustomFont';
    src: url('./GTWalsheimPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .page{
    font-family: "MyCustomFont";
  }