@font-face {
    font-family: 'GTWalsheimPro';
    src: url('./GTWalsheimPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.page{
	font-family: "GTWalsheimPro" !important;
}
.page > * {
	font-family: "GTWalsheimPro" !important;

}