.productList{
    display: flex;
    gap: 10px;
    width: 1500px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}
.product{
    width: 322px;
    height: 336px;
    display: flex;
    flex-direction: column;
    align-items: baseline   ;
}
.img{
    width: 294px !important;
    height: 223px !important;

}
.price{
    margin-top: 16px;
    font-size: 14px;
}
.name{
    font-weight: 700;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    color: rgba(12, 18, 42, 1);
}

.button{
    display: flex;
    align-items: center;
    font-weight: 550;
    font-size: 14px;
    text-transform: uppercase;
    gap: 16px;
    margin-bottom: 250px;
}
.allComponent{
    display: flex;
    align-items: center;
    flex-direction: column;

}