.modal{
    background-color: white;
    width: 447px;
    height: 193px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
	z-index: 569637487653473549857;
    border-radius: 10px;
    position: absolute;

    /* padding: 16px 24px; */
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    /* flex: 1; */
}
.title{
    font-family: "GTWalsheimPro500";
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;

}
.description{
    font-family: "GTWalsheimPro";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    margin: 0;
    letter-spacing: 0%;

    color: #9EA0AA;
}
.footer{
    gap: 44px;
    padding: 16px 24px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.button{
    font-family: "GTWalsheimPro500";
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 9%;
    text-transform: uppercase;

}