.button{
    background: #fff;
    border-radius: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    width: 144px;
    height: 40px;
    border: none;
    gap: 14px;
}
.span{
    text-decoration:none;
    font-family: "GTWalsheimPro";
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 9%;
    text-transform: uppercase;
    

}
.black{
    background: rgba(12, 18, 42, 1);
    color: white;
}
.link{
    text-decoration:none;

}