.hero {
  min-height: 80vh;
  /* background: #e6ebef; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero img {
  width: 400px;
  margin: 20px 0;
}

.textBlock button {
  background: #0b1c2d;
  color: #fff;
  border-radius: 30px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}
.droneImage {
width: 811.6474603654409;
height: 811.6474603654409;
top: 218.16px;
left: 223.73px;
rotate: -11.29 deg;
opacity: 1;

}