.hero {
	position: relative;
	height: 103vh;
	/* background: #cdd5dd; */
	overflow: hidden;
	top: -123px;
}




.drone {
	position: absolute;
	top: 170.16px;
	left: 45%;
	transform: translateX(-50%) rotate(11deg);
	z-index: 9999;
	width: 811.6474603654409px;
	margin-bottom: 200px;
	height: 811.6474603654409px;
}

.sideInfo {
	position: absolute;
	top: 700px;
	right: 50vw;
	transform: translateX(200%);
	max-width: 300px;
	
	z-index: 4;
}

.sideInfo p {
	font-size: 14px;
	margin-bottom: 16px;
}

.sideInfo button {
	background: #0b1c2d;
	color: #fff;
	width: 188px;
	height: 52px;
	border-radius: 30px;
	padding: 12px 26px;
	border: none;
	cursor: pointer;
	
	font-family: "GTWalsheimPro";
}

.sectionTitle {
	text-align: center;
	/* margin: 80px 0 40px; */
	font-weight: 900;
	font-style: Bold;
	font-size: 44px;
	line-height: 100%;
	letter-spacing: 3%;
	text-transform: uppercase;
	color: rgba(205, 213, 221, 1);
	font-family: "GTWalsheimProBold";
	margin: 0;
}

.cards {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-bottom: 80px;
}
.catalogGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	padding: 0 120px 100px;
}

.catalogItem {
	text-align: center;
}

.catalogItem img {
	width: 180px;
	margin-bottom: 10px;
}

.catalogItem p {
	font-size: 14px;
	margin-bottom: 6px;
}

.catalogItem span {
	font-weight: 600;
}
.aboutUs {
	width: 550px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.button {
	display: flex;
	align-items: center;
	font-weight: 550;
	font-size: 14px;
	text-transform: uppercase;
	gap: 16px;
	margin-bottom: 250px;
	justify-content: center;
	background: #ffffff;
	border: 1px solid rgb(0, 0, 0);
	text-align: center;
	border-radius: 60px;
	width: 237px;
	height: 60px;
	padding: 10px 20px;
	color: black;
	cursor: pointer;
}
.rightArrow path{
	fill: black !important;
	/* stroke: black; */
}