.hero {
	position: relative;
	height: 103vh;
	/* background: #cdd5dd; */
	overflow: hidden;
	top: -123px;
}




.drone {
	position: absolute;
	top: 140.16px;
	left: 50%;
	transform: translateX(-50%) rotate(11deg);
	z-index: 9999;
	width: 811.6474603654409px;
	margin-bottom: 200px;
	height: 811.6474603654409px;
}
.sideInfo {
	position: absolute;
	top: 650px;
	right: 45vw;
	transform: translateX(200%);
	width: 300px;
	
	z-index: 4;
}
.phoneSideInfo{
	transform: translateX(16px);
	left: 0;
	/* left: 16px; */
}
.sideInfo p {
	font-size: 14px;
	margin-bottom: 16px;
}
.sideInfo button span{
	font-family: "GTWalsheimProBoldStyle";

}
.sideInfo button {
	background: #0b1c2d;
	color: #fff;
	width: 188px;
	height: 52px;
	border-radius: 30px;
	padding: 12px 26px;
	border: none;
	cursor: pointer;
	
	font-family: "GTWalsheimPro";
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.sectionTitle {
	text-align: center;
	/* margin: 80px 0 40px; */
	font-weight: 900;
	font-style: Bold;
	font-size: 44px;
	line-height: 100%;
	letter-spacing: 3%;
	text-transform: uppercase;
	color: rgba(205, 213, 221, 1);
	font-family: "GTWalsheimProBold";
	margin: 0;
}

.cards {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-bottom: 80px;
	margin-top: 80px;
}
.catalogGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	padding: 0 120px 100px;
}

.catalogItem {
	text-align: center;
}

.catalogItem img {
	width: 180px;
	margin-bottom: 10px;
}

.catalogItem p {
	font-size: 14px;
	margin-bottom: 6px;
}

.catalogItem span {
	font-weight: 600;
}
.aboutUs {
	width: fit-content;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/* margin-top: -100px; */
	height:250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.aboutUsDescription{
	width: fit-content;
	max-width: 532px;
	height: 50px;
	/* padding: 0 20px; */
}
.button {
	display: flex;
	align-items: center;
	font-weight: 550;
	font-size: 14px;
	text-transform: uppercase;
	gap: 16px;
	margin-bottom: 250px;
	justify-content: center;
	background: #ffffff;
	border: 1px solid rgb(0, 0, 0);
	text-align: center;
	border-radius: 60px;
	width: 243px;
	height: 60px;
	padding: 18px 40px;
	color: black;
	cursor: pointer;
}
.rightArrow path{
	fill: black !important;
	/* stroke: black; */
}
.empty{
	width: 100%;
}
.phoneEmpty{
	height: 130px;
	width: 100%;
}

.phoneDrone{
	width: 449.44598356994373px;
	height: 449.44598356994373px;
	margin-top: 125px;
}

.phoneCards{
	flex-direction: column;
	gap: 130.48px;
	align-items: center;
	justify-content: center;
}
.phoneSectionTitle{
	font-size: 36px !important;
}